/* Universal Code */ 

body {
	margin: 20px; 
	padding: 20px; 
	font-family: Roboto, sans-serif; 
}

h1 {
	font-family: Comfortaa, cursive;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 15px;  
}

nav ul {
	list-style-type: none;
	display: inline-block; 
	margin: 10px; 
	margin-top: 0px; 
}

nav {
	text-align: center;
	background: LightGreen; 
	height: 60px;
	margin-bottom: 30px;  
	margin: 30px; 
	border: 1px solid grey;
	border-radius: 0.5px; 
	padding: 10px;
} 

nav li {
	display: inline-block;
	margin: 0 auto; 
	padding: 10px; 
	text-transform: uppercase; 
	font-size: 13px; 
	font-family: Comfortaa, cursive; 
} 

nav a {
	text-decoration: none; 	
	color: black; 
}

nav a:visited {
	color: black;  
} 

nav li:hover {
	opacity: 0.8; 
}

a {
	text-decoration: none;
	color: green; 
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: green;
} 

footer {
	background: green;
	color: white; 
	margin-top: 30px; 
	text-align: center; 
}

footer li {
	margin: 20px;  
	padding: 10px; 
	text-align: center;
	font-size: 13px;  
	display: inline; 
}

footer a {
	text-decoration: underline;
	color: white; 
	display: inline-block; 
	margin: 15px; 
}

footer ul {
	list-style-type: none; 
	text-align: center; 
} 

footer p {
	font-size: 13px;
	text-align: center;
	padding: 20px; 
} 

footer a:visited {
	color: white;
} 






img {
	display: block; 
	margin: 0 auto;
} 

.image {
	margin: 15px; 
}

.welcome-message p {
	text-align: center;
	margin: 30px; 
	padding: 15px; 
} 

.of-the-day {
	border: 2px dashed black;
	margin-bottom: 50px;
	margin-left: 70px;
	margin-right: 70px; 
	padding: 40px; 
	background-image: url("https://images.pexels.com/photos/126790/pexels-photo-126790.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
	background-repeat: no-repeat;  
	height: 400px;
	width: 900px; 
	vertical-align: top; 
}	

h3 {
	font-family: Comfortaa; 
	font-size: 20px; 
} 

.button {
	height: 40px;
	display: inline-block; 
	background: LightGreen; 
	padding: 10px; 
}

.button a {
	color: black;
	margin: 5px;
	padding: 5px; 
}

.button a:hover {
	text-decoration: none;
	opacity: 0.8; 
} 
